<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>鼠标事件和选中样式</title>
    <link href="//a.amap.com/Loca/static/manual/example/style/demo.css" rel="stylesheet">
    <style>
        html,
        body,
        #container {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="container" class="container">
    </div>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=0eb46939ed097108e843549883567bde"></script>
    <script src="//webapi.amap.com/loca?v=1.3.2&key=0eb46939ed097108e843549883567bde"></script>
    <script src="//a.amap.com/Loca/static/manual/example/script/demo.js"></script>
    <script src="{{url_for('static', filename='earthquake.js')}}"></script> <!-- 这里是数据的文件-->
    <script>
        var map = new AMap.Map('container', {
            mapStyle: 'amap://styles/fresh',
            zoom: 16,
            center: [113.344978,23.155352],
            features: ['bg', 'road', 'point'],
            viewMode: '3D'
        });

        var layer = new Loca.PointLayer({
            eventSupport: true,
            map: map
        });
        //设置数据图层

        layer.on('mousemove', function (ev) {
            // 事件类型
            var type = ev.type;
            // 当前元素的原始数据
            var rawData = ev.rawData;
            // 原始鼠标事件
            var originalEvent = ev.originalEvent;

            openInfoWin(map, originalEvent, {
                '名称': rawData.title,
                '位置': rawData.lnglat
            });
        });
        //鼠标移动到数据点上显示信息

        layer.on('mouseleave', function (ev) {
            closeInfoWin();
        });
        //鼠标离开的事件，即关闭信息窗口

        layer.setData(earthQuake, {
            lnglat: function (data) {
                var item = data.value;
                return [item.lng, item.lat];
            }
        });

        layer.setOptions({
            style: {
                radius: 10,
                color: '#07E8E4',
                borderColor: '#07E8E4',
                borderWidth: 1.5,
                opacity: 0.8
            },
            selectStyle: {
                radius: 14,
                color: '#FFF684'
            }
        });
        //配置数据点的样式

        layer.render();
    </script>
</body>

</html>